main {
    display: flex;
    justify-content: space-between;
}

.container-20 {
    width: 20%;
    height: 100%;
    border: 2px solid black;
}

.container-60 {
    width: 60%;
}

.container-small {
    width: 100%;
    border: 2px solid rgb(61, 238, 45);
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgb(51, 27, 27);
}

.f-d-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: rgb(61, 238, 45);
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

.d-flex-value {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

label {
    color: white;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    :hover {
        background-color: rgb(61, 238, 45);
    }
}

.convertedContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    border: 2px solid rgb(61, 238, 45);
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}