<main class="main">
  <div class="container-20-left">
    <p>
      With this container you are able to see the list of currencies and convert them. 
    </p>
    <p>
      You can also convert currencies from one to another. 
    </p>
    <p>
      The currency converter is a simple tool but at the same time very useful. 
    </p>
  </div>
  <div class="container-60">

    <div class="f-d-flex-column">
      <div class="container-small">
        <h1>Currency Converter</h1>
        <p>Converts currencies from one to another </p>
      
        <!-- Sezione per selezionare le valute e inserire l'importo -->
        <div class="d-flex-value">
          <label for="fromAmount">Import:</label>
          <input type="number" [(ngModel)]="fromAmount" (input)="onFromAmountChange(fromAmount)" />
      
          <label for="fromCurrency">From:</label>
          <select [(ngModel)]="fromCurrency" (change)="onFromCurrencyChange(fromCurrency)">
            <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
          </select>
      
          <label for="toCurrency">To:</label>
          <select [(ngModel)]="newCurrency" (change)="onToCurrencyChange(newCurrency)">
            <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
          </select>
        </div>
      
        <!-- Messaggio di errore se la conversione non va a buon fine -->
        <div *ngIf="errorMessage">
          <p style="color: red; text-align: center;">{{ errorMessage }}</p>
        </div>
      </div>
      <div class="convertedContainer">
        <div *ngIf="toAmount !== null">
          <p>{{ fromAmount }} {{ fromCurrency }} = {{ toAmount | number:'1.2-2' }} {{ newCurrency }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-20-right">
    <p>
      ciao
    </p>
  </div>
</main>
<router-outlet />
